.tile {
  margin-bottom: 50px;
  float: left;
  clear: both;
  width: 100%;
}

.tileImage {
  width: 50%;
  margin-right: 5%;
  float: left;
  max-height: 200px;
  overflow: hidden;
}

.tileText {
  width: 45%;
  float: left;
}

.year {
  color: #666;
  font-size: 16px;
}

.passwordArea {
  margin: 100px auto;
  text-align: center;
  width: 300px;
}

.passwordArea input {
  display: block;
  margin-top: 25px;
  padding: 0;
  width: 100%;
}
