.header {
  height: 33vh;
  background: #112d4e;
  position: relative;

  background: linear-gradient(
      0deg,
      rgba(17, 45, 78, 0.97),
      rgba(17, 45, 78, 0.97)
    ),
    url("./../images/backgroundPattern2.png") repeat;

  background-size: 522px 378px;
  margin-bottom: 50px;
}

.titles {
  color: white;
  position: absolute;
  bottom: 50px;
}

.titles h1 {
  margin: 0;
  padding: 0;
}

.titles h2 {
  color: #eee;
  margin: 10px 0 0;
  padding: 0;
  font-size: 20px;
}
