body {
  background: #191a2b;
  color: #edf2f4;
  font-family: poppins, sans-serif;
  width: 100%;
  height: 100%;
}

a {
  color: #8596b2;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: #e34863;
}

#container {
  width: 900px;
  margin: 6rem auto;
  display: flex;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
  flex: 1;
  font-weight: 800;
  padding-right: 3rem;
}

#information {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 300;
  flex: 2;
}

#information p {
  margin-bottom: 50px;
}

@media screen and (max-width: 855px) {
  #container {
    width: 100%;
    flex-direction: column;
  }

  h1,
  #information {
    padding: 2rem;
  }

  h1 {
    font-size: 12vw;
    line-height: 14vw;
    padding: 0 2rem;
  }

  #information {
    font-size: 5vw;
    line-height: 6vw;
  }
}
